<h1>Welcome, <%= @user.first_name %> </h1>
    </p>
    <br>
    <br>
    <p class="subtitle">
        All Appointments
    </p>
    </div>
</div>

  <!-- Footer -->
<div>
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "New Appointment", new_appointment_path %>
    <%= link_to "My Appointments", appointments_path %>
</div>
